@charset 'utf-8';
:root{
    --m-1: 7rem 0;
    --m-2: 3rem 0;
    --m-3: 1rem 0;
}
:root{
    --font-size-2: 3.5rem;
    --font-size-3: 2.5rem;
    --font-size-4: 1.8rem;
    --font-size-5: 1.5rem;
    --font-size-6: 1.2rem;
}
html {
	font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
	line-height: 1.2;
    word-wrap: break-word;
    font-size: 10px;
}
body {
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
    border: 0;
    cursor: pointer;
    transition: 500ms ease;
}
button {
	border: 0;
	background: transparent;
    cursor: pointer;
    margin-left: auto;
}
a {
    text-decoration: none;
    color:#000
}
.block > div {
	max-width: 1300px;
	margin: 0 auto; 
	padding: 5rem 0;
}
.navbar {
	max-width: 1300px;
	margin: 0 auto;
}
.topad {
	background-color: rgb(230, 107, 107);

}
.topbenner {
	height: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.topbenner {
	font-size: var(--font-size-6);
}
.topbenner span {
	font-weight: 600;
}
.navbartop {
	height: 15rem;
	display: flex;
	align-items: center;
}
.headmenu {
	margin-left: auto;
	font-size: var(--font-size-6);
}
.headmenu ul {
	height: 12rem;
	display: flex;
	align-items: center;
	margin-left: auto;
}
.headmenu ul li {
	margin: 0 1.5rem;
}
.search {
	display: flex;
	width: 23rem;
	height: 3rem;
	border: 1px solid #d3d3d3;
	border-radius: 2rem;
}
.btn-search {
	color: #ff214f;
	padding-right: 1.3rem;
}
.basket-num {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 5rem;
	height: 2.5rem;
	border: 1px solid #d3d3d3;
	border-radius: 2rem;
}
.line {
	width: 0.1rem;
	height: 1rem;
	background-color: #ccc;
}
.nav__menu {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding : 1rem 0;
	position: relative;
}
.nav__list {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-size-6);
}
.navicon {
	font-size: var(--font-size-3);
	position: relative;
}
.nav__list li a:hover {
	color:#ff214f;
}
.nav__list li {
	display: inline-block;
	position: relative;
	width: 156px;
	text-align: center;
}
.menu-sub {
	position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  width: 100%;
  display: none;
  color: #000;
  z-index: 99;
  max-width: 1300px;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
  
}
.nav__list li:hover .menu-sub{
	display: block;
}
.sliderWarp {
	position: relative; 
	width: 100%; 
	margin: auto; 
	padding-bottom: 30px; 
}
.slide_box {
	width: 100%; 
	margin: auto; 
	overflow-x: hidden;
}
.slide_content { 
	display: table; 
	float: left; 
	width: 100%; 
	height: 400px; 
	font-size: 10rem;
}
.slide_pagination .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    overflow: hidden;
    background: #ddd;
    border-radius: 50%;
    transition: 0.3s;
}
.slide_pagination {
    position: absolute;
    left: 50%;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
}
.slide_pagination .dot.dot_active {
    background: #333;
}
.slide_pagination .dot a {
    display: block;
    width: 100%;
    height: 100%;
}
h1 {
	font-size: var(--font-size-2);
}
.newitem-text {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #f7e6e9;
	padding-bottom: 1rem;
}
.newitem-text p {
	font-size: var(--font-size-5);
	margin-left: 1rem;
}
.sflex {
	display: flex;
	align-items: center;
}
.threeitem {
	padding:var(--m-1);
	border-bottom: 2px solid #f7e6e9;
	text-align: center;
}
.threeitem span {
	font-size: var(--font-size-5);
}
.twobanner {
	padding:var(--m-1);
}
h2 {
	font-size: var(--font-size-5);
	padding-top: 3rem;
}
.twobanner img {
	width: 97%;
}
.leftbn, .rightbn, .slide_content {
	position:relative;
	color:rgb(51, 51, 51);
}
.leftbn p, .rightbn p, .slide_content p {
	position: absolute;
	top:50%;
	left:18%;
	transform: translate(-50%, -50%); 
	text-align: left;
}
.leftbn p strong, .rightbn p strong {
	display: block;
	margin: 3rem 0;
}
.bestitem-text {
	text-align: center;
}
.bestitem-text p {
	font-size: var(--font-size-5);
}
h3 {
	width: 200px;
	padding-top: 2rem;
	font-size: var(--font-size-4);
}
.bestitem-img {
	margin:var(--m-1);
}
.bestitem-img p {
	font-size: var(--font-size-5);
}
.bestitem-img p strong {
	color:rgb(255, 24, 24)
}
.bottombest {
	margin:var(--m-1)
}
.imagem {
	margin-right: 2rem;
}
.bestitem-img {
	position: relative;
}
.mainslide {
	width: 90% !important;
	left: 5%;

}
.btn-nav {
	position: absolute;
    right: 1.5rem;
    top: 20rem;
    width: 1300px;
    height: 0px;
    z-index: 10;
}
.btn-nav a {
	display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 0px;
    background: url(../image/btn_main_bnr2.png);
    background-size: auto 100%;
	margin: 0 auto;
}
.btn-nav .btn_prev {
	float: left;
    margin-left: -62px;
    background-position: 0% 0%;
}
.btn-nav .btn_next {    
	float: right;
    margin-right: -62px;
    background-position: 100% 0%;
}
.collectsmall {
	width: 30%;
}
.collectimg {
	position: relative;
}
.colltext {
	display: flex;
}
.collectimg p {
	position: absolute;
	top:30%;
	left:20%;
	transform: translate(-50%, -50%); 
	text-align: left;
	font-size: 6rem;
}
.colltext :nth-child(2) {
	position: absolute;
	top:45%;
	left:18%;
	text-align: left;
	font-size: 2rem;
	color:#a0a0a0;
}
.collectimg span {
	position: absolute;
	top:53%;
	left:8%;
	font-size: 5.5rem;
	margin-top: 2rem;
	color:#ff214f;
	font-weight: 600;
}
.collectsmall img {
	position: absolute;
	top:80%;
	left:5%;
	border: 1px solid #cfffd1;
}
.collectsmall :nth-child(2) {
	top:80%;
	left:30%;
}
.collectsmall :nth-child(3) {
	top:80%;
	left:55%;
}
.five-shop.block {
	background-color: yellowgreen;
	height: 20rem;
    margin-top: 30rem;
}
.shop-info {
	flex-direction: column;
}
.shop-text img {
	float: right;
}
.shop-text strong, .shop-textin strong {
	font-size: var(--font-size-3);
}
.shop-textin span {
	margin-top: 2rem;
	font-size: var(--font-size-5);
}
.shop-img {
	margin-left: 5rem;
}
.shop-textin {
	align-items: flex-start;
	flex-direction: column;
	margin-right: 4rem;
}
.shopname {
	font-size: var(--font-size-6);
	height: 20rem;
    display: flex;
    align-items: flex-end;
    margin-top: 10rem;
}
.character-text {
	margin: 0 auto;
	text-align: center;
	flex-direction: column;
}
.character-text p {
	font-size: 6rem;
	font-weight: 500;
	line-height: 3.5rem;
}
.character-text span {
	background: url(../image/artboxlogo.png);
}
.character-text img {
	width: 23%;
}
.line2 {
	width: 0.2rem;
	height: 2.7rem;
	background-color: rgb(228, 228, 228);
	margin-right:0.4rem;
}
.six-character {
	padding-top: 15rem;
}
.six {
	display: flex;
}
.character-img {
	margin-top: 7rem;
}
.artboxsns {
	border-top: 1px solid rgb(190, 190, 190);
	padding-top: 3rem;
	justify-content: space-between;
}
.artboxsns img {
	width: 35%;
	margin-right: 2rem;
}
.snstext {
	flex-direction: column;
}
.snstext span {
	font-size: var(--font-size-3);
	font-weight: 500;
}
.snstext p {
	margin-top:4rem;
	font-size: var(--font-size-5);
}
.company-content {
	justify-content: space-between;
	padding: 5rem 0;
	font-size: var(--font-size-6);
}
.customer p{
	font-size: var(--font-size-3);
	margin-right: 2rem;
}
.customer strong, .holiday .pick  {
	color:#ff214f
}
.cs-text {
	margin-top: 3rem;
}
.adress {
	width: 60rem;
	font-size: 1rem;
	flex-direction: column;
	align-items: flex-start;
	margin-left: auto;
}
.question button {
	border: 2px solid rgb(238, 238, 238);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-left: 2rem;
}
.adress :nth-child(2) {
	display: block;
	margin-top: 2rem;
}
.bestitem-img img {
	vertical-align: middle;
	width: 308px;
	height: 308px;
}
.iconify :hover {
	opacity: 50%;
	transition: all 0.3s;
}