@charset "UTF-8";

:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color :#f5f6f7;
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}
div{
	padding:0;
}
body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white--color);
}

label {
    display: block;
    text-align: left;
}

input {
    width: 100%;
    height: 45px;
    border: 1.5px solid var(--grey--dark--color);
    border-radius: 5px;
    background-color: #e8f0fe; 
    margin-top: 1.5em;
}

a {
    text-decoration: none;
    color: var(--black--color);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
  	align-items:center;
  	margin-top:100px;
}

header img{
	width: 50%;
}
#id,
#pw{
	padding-left: 15px;
}
header i{
	color: var(--white--color);
}
.header__logo {
    font-size: 3em;
}

.header__hambuger {
    font-size: 1.5em;
}

.login__form h2{
    color: var(--grey--dark--color);
}

.id__text,
.pw__text
{
margin-top: 5px;
color:#c70808;
text-weight:bold;
}
.login__form {
    display: flex;
    width: 25%;
    margin: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    color: var(--grey--dark--color);
}

.login__form div {
    display: block;
    padding: var(--padding);
}

.login__line {
    border-top: 1px solid var(--grey--dark--color);
   
}
.login__submit button{
	width: 100%;
	height:2.813em;
	color: var(--white--color);
	background-color: var(--theme-color);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 2em;
}
.forgot__container{
    position: relative;
}
.forgot__form{
   display: flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size:0.750em;
}
.forgot__form a{
    color: var(--grey--dark--color);
}
.forgot__form a:hover{
    color: #000;
}
.forgot__form a:nth-child(1){
    border-right: 1px solid var(--grey--dark--color);
    padding-right: 5px;
}

.forgot__form a:nth-child(2){
    border-right: 1px solid var(--grey--dark--color);
    padding-right: 5px;
}

#information__bar {
    margin-top: 1.5em;
    padding: 0;
    font-size: 1em;
}
#information__bar a{
   color: #0071c2;
}

@media screen and (max-width : 768px){
	 .login__form{
		width: 80%;
	}
}